transformers==4.51.3
python-crfsuite==0.9.11
soupsieve==2.7
requests==2.32.4
bcrypt==4.3.0
frozenlist==1.6.0
ipywidgets==8.1.6
pickleshare==0.7.5
dill==0.3.8
sentencepiece==0.2.0
mpld3==0.5.10
orjson==3.10.16
Wikipedia-API==0.8.1
matplotlib==3.10.3
scikit-learn==1.6.1
packaging==23.2
pyproject_hooks==1.2.0
jsonpointer==3.0.0
wcwidth==0.2.13
overrides==7.7.0
charset-normalizer==3.4.1
jupyterlab_widgets==3.0.14
websocket-client==1.8.0
safehttpx==0.1.6
anytree==2.13.0
openai==1.76.0
shellingham==1.5.4
langchain-qdrant==0.2.0
language_tool_python==2.9.3
pyparsing==3.2.3
watchfiles==1.0.5
tenacity==8.5.0
typer==0.15.2
contourpy==1.3.2
pyasn1_modules==0.4.2
uvloop==0.21.0
loguru==0.7.3
backoff==2.2.1
pure_eval==0.2.3
urllib3==2.4.0
synonym==0.1.3
sympy==1.13.3
stack_data==0.6.3
sentence-transformers==4.1.0
altair==5.5.0
torchaudio==2.7.0+cu118
SQLAlchemy==2.0.40
vncorenlp==1.0.3
pypdfium2==4.30.0
opentelemetry-sdk==1.32.1
pyasn1==0.6.1
url-normalize==2.2.1
seaborn==0.13.2
flair==0.15.1
setuptools==75.8.0
pyzmq==26.4.0
num2words==0.5.14
opentelemetry-exporter-otlp-proto-common==1.32.1
transformer-smaller-training-vocab==0.4.1
pandas==2.2.3
sklearn-crfsuite==0.5.0
matplotlib-inline==0.1.7
jsonpatch==1.33
OpenHowNet==2.0
cattrs==24.1.3
nvidia-curand-cu11==10.3.0.86
google-auth==2.39.0
httpx-sse==0.4.0
pytorch-crf==0.7.2
mypy_extensions==1.1.0
aiofiles==24.1.0
langchain-core==0.3.56
lxml==5.4.0
anyio==4.9.0
typing_extensions==4.12.2
typing_extensions==4.13.2
hyperframe==6.1.0
grpcio==1.71.0
trl==0.17.0
pyjnius==1.6.1
opentelemetry-instrumentation==0.53b1
asttokens==3.0.0
psutil==7.0.0
python-docx==1.1.2
opentelemetry-instrumentation-fastapi==0.53b1
docopt==0.6.2
langsmith==0.3.37
torchvision==0.22.0+cu118
exceptiongroup==1.2.2
GitPython==3.1.44
zstandard==0.23.0
toml==0.10.2
fsspec==2024.6.1
coloredlogs==15.0.1
importlib_metadata==8.6.1
pypdf==5.4.0
Unidecode==1.4.0
durationpy==0.9
rich==13.9.4
httptools==0.6.4
datasets==3.5.1
Jinja2==3.1.4
opentelemetry-semantic-conventions==0.53b1
more-itertools==10.7.0
opentelemetry-instrumentation-asgi==0.53b1
certifi==2025.4.26
cssselect==1.3.0
boto3==1.38.15
pip==25.0
colorama==0.4.6
pydeck==0.9.1
ffmpy==0.5.0
segtok==1.5.11
greenlet==3.2.1
qdrant-client==1.14.2
prompt_toolkit==3.0.51
editdistance==0.8.1
terminaltables==3.1.10
gradio_client==1.10.0
textattack==0.3.10
marshmallow==3.26.1
jmespath==1.0.1
Pygments==2.19.1
langchain-community==0.3.22
jieba==0.42.1
posthog==4.0.0
tornado==6.4.2
sqlitedict==2.1.0
httpcore==1.0.9
deep-translator==1.11.4
s3transfer==0.12.0
idna==3.10
regex==2024.11.6
nvidia-cusparse-cu11==11.7.5.86
hpack==4.1.0
opentelemetry-api==1.32.1
traitlets==5.14.3
ftfy==6.3.1
pydantic==2.11.3
wheel==0.45.1
cachetools==5.5.2
PyPDF2==3.0.1
mmh3==5.1.0
pdfminer.six==20250506
onnxruntime-gpu==1.21.1
nvidia-nvtx-cu11==11.8.86
build==1.2.2.post1
narwhals==2.0.0
plotly==6.2.0
aiohttp==3.11.18
async-timeout==4.0.3
PySocks==1.7.1
six==1.17.0
chromadb==0.6.3
lru-dict==1.3.0
nvidia-cuda-cupti-cu11==11.8.87
blinker==1.9.0
portalocker==2.10.1
ipykernel==6.29.5
pytorch_revgrad==0.2.0
beautifulsoup4==4.13.4
chardet==5.2.0
sentry-sdk==2.27.0
typing-inspection==0.4.0
monotonic==1.6
pyvi==0.1.1
gradio==5.29.0
conllu==4.5.3
opentelemetry-proto==1.32.1
kiwisolver==1.4.8
kubernetes==32.0.1
py_rust_stemmers==0.1.5
nvidia-cublas-cu11==11.11.3.6
multiprocess==0.70.16
triton==3.3.0
bert-score==0.3.13
requests-oauthlib==2.0.0
annotated-types==0.7.0
markdown-it-py==3.0.0
python-dotenv==1.0.1
jupyter_client==8.6.3
rpds-py==0.26.0
fonttools==4.58.0
smart-open==7.1.0
wandb==0.19.10
rsa==4.9.1
pyquery==2.0.1
pdfplumber==0.11.7
oauthlib==3.2.2
jupyter_core==5.7.2
referencing==0.36.2
nvidia-cusolver-cu11==11.4.1.48
cffi==1.17.1
aiohappyeyeballs==2.6.1
pyarrow==20.0.0
python-dateutil==2.9.0.post0
pydub==0.25.1
requests-toolbelt==1.0.0
pexpect==4.9.0
httpx==0.28.1
propcache==0.3.1
jsonschema==4.25.0
googletrans==4.0.2
langchain-chroma==0.2.3
ipython==8.36.0
ptyprocess==0.7.0
h2==4.2.0
MarkupSafe==2.1.5
numpy==1.26.4
groq==0.23.1
setproctitle==1.3.6
nvidia-cudnn-cu11==9.1.0.70
python-multipart==0.0.20
asgiref==3.8.1
langchain-huggingface==0.1.2
underthesea==6.8.4
sortedcontainers==2.4.0
protobuf==4.25.8
underthesea_core==1.0.4
executing==2.2.0
et_xmlfile==2.0.0
requests-cache==1.2.1
Deprecated==1.2.18
debugpy==1.8.14
nest_asyncio==1.6.0
parso==0.8.4
fastembed-gpu==0.6.1
flatbuffers==25.2.10
cycler==0.12.1
tiktoken==0.9.0
multidict==6.4.3
deepmultilingualpunctuation==1.0.1
nvidia-cuda-runtime-cu11==11.8.89
googleapis-common-protos==1.70.0
gensim==4.3.3
PyYAML==6.0.2
h11==0.16.0
streamlit==1.47.1
langchain-text-splitters==0.3.8
torch==2.7.0+cu118
nvidia-cuda-nvrtc-cu11==11.8.89
typing-inspect==0.9.0
intervaltree==3.1.0
semantic-version==2.10.0
distro==1.9.0
scipy==1.13.1
ollama==0.4.8
tomli==2.2.1
tabulate==0.9.0
starlette==0.46.2
hf-xet==1.1.0
langchain-groq==0.3.2
safetensors==0.5.3
jiter==0.9.0
gitdb==4.0.12
websockets==15.0.1
word2number==1.1
joblib==1.4.2
bioc==2.1
nvidia-nccl-cu11==2.21.5
tomlkit==0.13.2
chroma-hnswlib==0.7.6
dataclasses-json==0.6.7
pillow==10.4.0
ruff==0.11.8
jsonschema-specifications==2025.4.1
humanfriendly==10.0
langdetect==1.0.9
wrapt==1.17.2
fastapi==0.115.12
nltk==3.9.1
pinyin==0.4.0
pptree==3.1
crayons==0.4.0
mpmath==1.3.0
filelock==3.13.1
onnxruntime==1.21.1
platformdirs==4.3.7
widgetsnbextension==4.0.14
lemminflect==0.2.3
sniffio==1.3.1
watchdog==6.0.0
smmap==5.0.2
openpyxl==3.1.5
opentelemetry-util-http==0.53b1
PyMuPDFb==1.23.22
click==8.1.8
mdurl==0.1.2
docker-pycreds==0.4.0
groovy==0.1.2
threadpoolctl==3.6.0
xxhash==3.5.0
bitsandbytes==0.46.0
pydantic_core==2.33.1
pydantic-settings==2.9.1
jedi==0.19.2
jsonlines==4.0.0
langchain==0.3.24
gdown==5.2.0
peft==0.15.2
huggingface-hub==0.30.2
tqdm==4.67.1
aiosignal==1.3.2
botocore==1.38.15
langchain-openai==0.3.14
decorator==5.2.1
cryptography==45.0.5
accelerate==1.6.0
tzdata==2025.2
yarl==1.20.0
opentelemetry-exporter-otlp-proto-grpc==1.32.1
PyMuPDF==1.26.3
pytz==2025.2
PyPika==0.48.9
importlib_resources==6.5.2
comm==0.2.2
networkx==3.3
nvidia-cufft-cu11==10.9.0.58
attrs==25.3.0
zipp==3.21.0
uvicorn==0.34.2
pycparser==2.22
tokenizers==0.21.1
